 /* responsive start ----------------------------------------------------------------------  */

@media screen and (max-width: 600px) {
   

 /* ------------ hero section ----------*/
 
 
 .hero{
	background-image: linear-gradient(to right, rgb(1, 39, 7), rgb(1, 124, 20));
}

nav{
    padding: 10PX 70px;
    justify-content: space-around;

}
.hero nav .logo{
    margin-top: 15px;
}

.logo a img{
	height: 80px;

}
nav ul li{
	list-style-type: none;
	display: block;
	padding: 5px  0px;
}
.nav ul li a{
    text-align: center;
    font-size: 15px;
    color: #fff;
}
nav ul li a:before,
nav ul li a:after{
	height: 2px;
}	
nav ul li a:after{
	left: 0;
	bottom: -2px;
}
nav ul li a:before{
	right: 0;
	top: -2px;
}


 .myimgage{
	display: none;
}
.content{
	position: absolute;
	top: 65%;
	left:8%;
	transform: translateY(-65%);
	z-index: 5;
}
.content_detail{
	animation: fadeinup 1s ease-in-out;
}

.content span{
	font-weight: bold;
}

h4{
	letter-spacing: 1px;
	font-size: 15px;
}
h1 {
	margin: 5px 0px 5px;
	font-size: 45px;
}
.content h3 {
	font-size: 20px;
	margin-bottom: 10px;
}


    /* ------------ about section ----------*/
    .about{
        
        padding: 0;
        padding-bottom: 40px;

    }  
    
    .about .main{
            width: 95%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .main .photo img{
            filter: none;
        }
    
        .about-text h2 {
            color: var(--green);
            font-size: 50px;
        }
        
        .about-text h5 {
            font-size: 18px;
            margin-bottom: 15px;
        }
        
        .about-text p {
            font-size: 15px;
            margin-bottom: 20px;
        }
        
        button {
            padding: 13px 20px;
            border-radius: 30px;
            font-size: 15px;
        }
    
    
    /* --------------- service section ------------*/
    .Services{
        width: 95%;
    }
    
    .service .tittle{
        align-items: center;
    }
    .title h2{
        font-size: 50px;
        margin: 22px auto;
    }
     .service .box{
       flex-direction: column;
       justify-content: center;
       align-items: center;

     }
    
     .card{
        height: 100%;
        width: 80%;
        padding: 10px 15px;
        border-radius: 20px;
        margin: 10px;
    }
    .card i{
        font-size: 30px;
        margin: 10px 0px;
    }
h5{
	font-size: 20px;
	margin-bottom: 10px;
}
.pra p{
	font-size: 15px;
	margin-bottom: 15px;
}

.card .button{
	
	padding: 8px 20px;
	border-radius: 20px;
}
    
    /* --------------- skill section ------------*/
    
    .skillmy .skill_main{
        flex-direction: column;
    }
    
    .skillmy .Skill-text {
        width: 95%;
    }
    
    .skillmy .Skill-text h2 {
        text-align: center;
        font-size: 50px;
    }
    
    .skillmy .Skill-text h3 {
        text-align: center;
        font-size: 15px;
    }
    
    .skill_main {
        width: 100%;
    }
    
    .skill-bars {
        padding: 25px 10px;
        background: rgb(229, 252, 236);
    }
    
    .skillmy .skill_main figure {
        width: 95%;
        margin-top: 20px;
    }
    
}
      