:root {
	--green: #109308;
	--greenlight: #07fa1b;
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	}

/* schrool up smoothness  */
	
	.reveal {
			position: relative;
			transform: translateY(70px);
			opacity: 0.1;
			transition: 1s all ease;
		}
	
	.reveal.active {
			transform: translateY(0);
			opacity: 1;
		}

/* ----- babul efect ------------------- */
.wrapper {
      display: inline-block;
      width: 100%;
      height: 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
      overflow: hidden;
      z-index: 1;
  }

  .circle_container {
      position: absolute;
      top: 40%;
      left: 50%;
      height: 10px;
      transform-origin: left center;
  }

  .circle {
      position: absolute;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.3);
      left: 0;
      opacity: 0;
      animation-name: move;
      animation-duration: 20s;
      animation-iteration-count: infinite;
  }
  @keyframes move {
      0% {
          transform: translateX(0px);
          opacity: 0;
      }

      1% {
          opacity: 1;
      }

      50% {
          opacity: 0.5;
      }

      100% {
          transform: translateX(70vmin);
          opacity: 0;
      }
  }

  .wrapper .name_container {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      width: 80vmin;
      height: 80vmin;
      background: rgba(11, 248, 82, 0.1);
      border-radius: 100%;
      box-shadow: inset 0px 0px 30px 30px rgba(200, 200, 200, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .7;
      
  }

  .wrapper .name_container img{
    height: 50%;
    opacity: .2;
  }

/* Hero start ---------------------------------------------------------------  */

.hero{
	height: 100vh;
	width: 100%;
	background-color: rgb(1, 39, 7);
	background-size: cover;
	background-position: center;
	position: relative;
}

.myimgage{
	position: absolute;
	right: 0;
	bottom: -5px;
	z-index: 1;
	animation: sideinn 2s ease-in-out;
	height: 85vh;
}

@keyframes sideinn {
	0% {
		opacity: 0;
		transform: translateX(150px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 8%;
	padding-right: 8%;
}

span{
	color: var(--green);
	font-weight: 600;
}
.logo a img{
	height: 50px;

}
.logo:hover {
	transform: scale(1.2);
	transition: .5s;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: rgb(184, 183, 183);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
}
nav ul li a:before,
nav ul li a:after{
	content: "";
	position: absolute;
	height: 3px;
	width: 0;
	background-image: linear-gradient(to right, green , greenyellow);
	transition: .5s;
}

nav ul li a:after{
	left: 0;
	bottom: -10px;
}

nav ul li a:before{
	right: 0;
	top: -10px;
}

nav ul li a:hover{
	color: rgb(255, 255, 255);
	transition: .4s;
}
nav ul li a:hover:before,
nav ul li a:hover:after{
	width: 100%;
}


.social0 {
	position: fixed;
	right: 0;
	top: 30%;
	z-index: 1100;
	animation: slidein 4s;
}

@keyframes slidein {
	from {
		margin-right: -100%;
		width: 100%;
	}

	to {
		margin-right: -3px;
		width: 50px;
	}
}
.social0 a {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #007bb5;
	border-radius: 50%;
	margin: 10px 5px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
}

.tooltip .tooltiptext {
	visibility: hidden;
	font-size: 13px;
	background-color: #fff;
	color: black;
	text-align: center;
	padding: 5px 7px;
	border-radius: 6px;
	right: 40px;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 999;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.social0 a:nth-child(2) {
	background: #1769ff;
}

.social0 a:nth-child(3){
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social0 a:nth-child(4) {
	background: #55ACEE;
}

.social0 a:nth-child(5) {
	background: #3B5998;
}
.social0 a:hover {
	transform: scale(1.1);
	transition: .1s;
}

.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
	z-index: 5;
}
.content_detail{
	animation: fadeinup 1s ease-in-out;
}

.content span{
	font-weight: bold;
}


h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 15px;
}
h1 {
	color: white;
	margin: 10px 0px 10px;
	font-size: 60px;
}
h3 {
	font-size: 20px;
	color: #f0f0f0;
	font-weight: 400;
	margin-bottom: 30px;
}
 /* content part animation  */
@keyframes fadeinup{
	0%{
		opacity: 0;
		transform: translateY(150px);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

/* About start ---------------------------------------------------------------  */
.about{
	width: 100%;
	padding: 50px 0px;
	background-color: whitesmoke;
}
.about img{
	height: auto;
	width: 430px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.about img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: drop-shadow(1px 1px 2px rgb(131, 206, 131));
	transition: 1s;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: var(--green);
	font-size: 75px;
	text-transform: capitalize;
}
.about-text h5{
	color: black;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: grey;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color: var(--green);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
	font-size: 15px;
}
button:hover{
	background-color: transparent;
	border: 2px solid var(--green);
	cursor: pointer;
	color: var(--green);
	transition: 2s;
}


/* service start ---------------------------------------------------------------  */
.service{
	background: rgb(1, 39, 7);
	width: 100%;
	padding: 50px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 25px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 100%;
	width: 335px;
	padding: 20px 35px;
	background: rgb(3, 71, 14);
	border-radius: 20px;
	margin: 10px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 20px 0px;
	color: rgb(81, 235, 81);

}

h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p{
	color: rgb(214, 247, 219);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button{
	background-color: rgb(5, 90, 5);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid #fff;
	cursor: pointer;
	transition: 1s ease;
}

.card:hover{
	background-color: var(--green);
	transition: 2s ease;
	transform: translateY(-15px);
}


/* Skill start ----------------------------------------------------------------------  */
.skillmy {
	width: 100%;
	margin: 70px 0;
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Skill-text {
	width: 50%;
	margin: 0 5px;
}

.skill_main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.Skill-text h2 {
	color: var(--green);
	font-size: 75px;
	margin: 0;
	padding: 0;
}

.Skill-text h3 {
	color: #000;
	font-size: 18px;
	margin-bottom: 30px;
}
.skill-bars {
	padding: 25px 30px;
	width: 100%;
	background: #fff;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);	
	border-radius: 10px;
}

.skill-bars .bar {
	margin: 20px 0;
}

.skill-bars .bar:first-child {
	margin-top: 0px;
}

.skill-bars .bar .info {
	margin-bottom: 5px;
}

.skill-bars .bar .info span {
	font-weight: 500;
	font-size: 17px;
	opacity: 0;
	animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
	100% {
		opacity: 1;
	}
}

.skill-bars .bar .progress-line {
	height: 15px;
	width: 100%;
	background: #f0f0f0;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
		0 1px rgba(255, 255, 255, 0.8);
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}

.bar .progress-line span {
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	background: var(--green);
	animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
	width: 90%;
}

.bar .progress-line.css span {
	width: 65%;
}

.bar .progress-line.JS span {
	width: 50%;
}

.bar .progress-line.Photoshop span {
	width: 90%;
}

.bar .progress-line.Illustrator span {
	width: 75%;
}

.bar .progress-line.Office span {
	width: 95%;
}

.bar .progress-line.Excel span {
	width: 60%;
}

.progress-line span::before {
	position: absolute;
	content: "";
	top: -10px;
	right: 0;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: var(--green);
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
	position: absolute;
	top: -28px;
	right: 0;
	font-weight: 500;
	background: var(--green);
	color: #fff;
	padding: 1px 8px;
	font-size: 12px;
	border-radius: 3px;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
	100% {
		opacity: 1;
	}
}

.progress-line.html span::after {
	content: "90%";
}

.progress-line.css span::after {
	content: "65%";
}

.progress-line.JS span::after {
	content: "50%";
}

.progress-line.Photoshop span::after {
	content: "90%";
}

.progress-line.Illustrator span::after {
	content: "75%";
}

.progress-line.Office span::after {
	content: "95%";
}

.progress-line.Excel span::after {
	content: "60%";
}

/* image --------------------*/
.skillmy figure {
	width: 45%;
	margin-top: 90px;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.skillmy figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 100%;
}

.skillmy figure img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


/* contact start ---------------------------------------------------------------  */

footer {
	position: relative;
	margin-top: 130px;
}

/* contact start ---------------------------------------------------------------  */

footer #contactus {
	margin-bottom: -360px;
}

footer .contact {
	width: 80%;
	background: var(--green);
	border-radius: 6px;
	padding: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0px auto 0px;

}

.contact .left-side {
	width: 20%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 15px;
}

.contact .left-side::before {
	content: '';
	position: absolute;
	height: 200px;
	width: 2px;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(154, 199, 162);
}

.contact .left-side .details {
	margin: 10px;
	text-align: center;
	padding: 5px 0px;
}

.contact .left-side .details i {
	font-size: 20px;
	color: #fff;
	margin-bottom: 5px;
}

.contact .left-side .details .topic {
	font-size: 18px;
	font-weight: 600;
}

.contact .left-side .details .text-one {
	font-size: 14px;
	color: #effcf5;
}


.contact .right-side {
	width: 50%;
	margin: 10px 60px;
}

.contact .right-side .topic-text {
	font-size: 20px;
	font-weight: bold;
	color: #effcf5;
}

.contact .right-side .input-box {
	height: 30px;
	width: 100%;
	margin: 7px 0;
}

.contact .right-side .input-box input,
.contact .right-side .input-box textarea {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	background: #f0f8f3;
	border-radius: 6px;
	padding: 0 15px;
	resize: none;
}

.contact .right-side .message-box {
	min-height: 60px;
}

.contact .right-side .input-box textarea {
	padding-top: 5px;
}

.contact .right-side .button {
	display: inline-block;
	margin-top: 5px;
}

.contact .right-side .button input[type="button"] {
	color: var(--green);
	font-size: 18px;
	font-weight: 600;
	outline: none;
	border: none;
	padding: 5px 20px;
	border-radius: 6px;
	background: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

.contact .button input[type="button"]:hover {
	background: greenyellow;
	transition: 2s;
}

.contact .manudown {
	width: 10%;
	height: 100%;
	flex-direction: column;
	position: relative;
	margin-top: 15px;
	padding: auto 40px;
}

.manudown::after {
	content: '';
	position: absolute;
	height: 200px;
	width: 2px;
	left: -15px;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(154, 199, 162);
}

.manudown ul li {
	list-style-type: none;
	padding: 10px 0 10px 15px;
	text-align: center;
}

.manudown ul li a {
	color: white;
	text-decoration: none;
	text-transform: capitalize;
}

.manudown ul li a:hover {
	color: greenyellow;
	transition: .4s;
	font-weight: bold;
}

/* wave start ---------------------------------------------------------------  */

footer .wavebackgroud {
	background-color: var(--green);
	width: 100%;
	z-index: -15;
	height: 350px;
	position: relative;
}

footer .wave {
	position: absolute;
	width: 100%;
	background: url(/img/wave1.png);
	background-size: 1000px 100px;
	height: 440px;
}

footer .wave#wave1 {
	z-index: 2;
	opacity: 1;
	bottom: 0;
	animation: animatewave 4s linear infinite;
}

footer .wave#wave2 {
	z-index: 1;
	opacity: .5;
	bottom: 1px;
	animation: animatewave_02 6s linear infinite;
}

footer .wave#wave3 {
	z-index: 3;
	opacity: 0.3;
	bottom: 1px;
	animation: animatewave_03 2s linear infinite;
}

footer .wave#wave4 {
	z-index: 2;
	opacity: .6;
	bottom: 1px;
	animation: animatewave_04 7s linear infinite;
}

footer .wave#wave5 {
	z-index: 3;
	opacity: .4;
	bottom: 0;
	animation: animatewave_05 5s linear infinite;
}

@keyframes animatewave {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}


@keyframes animatewave_02 {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}

@keyframes animatewave_03 {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}

@keyframes animatewave_04 {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}


@keyframes animatewave_05 {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}

/* Copy right --------------------------------------------  */
.copy_right h5 {
	text-align: center;
	font-size: 14px;
	color: black;
	font-weight: 400;
}

/* Top up button ---------------------------------------------------------------  */
#myBtn {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Fixed/sticky position */
	bottom: 10px;
	/* Place the button at the bottom of the page */
	right: 5px;
	/* Place the button 30px from the right */
	z-index: 10;
	/* Remove outline */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 2px;
	/* Some padding */
	border-radius: 5px;
	/* Rounded corners */
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
	opacity: .8;
}
#myBtn:hover {
	background-color: var(--green);
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
	/* Add a dark-grey background on hover */
}


/* -----  cursol effect --------------------------- */
.cursor{
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .1s;
  }
  
  .cursor2{
	position: fixed;
	width: 8px;
	height: 8px;
	background-color: #c6c6c6;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .15s;
  }
  /* 
  ::hover ~ .cursor{
	transform: translate(-50%, -50%) scale(1.5);
	background-color: #c6c6c6;
	opacity: .5;
  }
  
 ::hover ~ .cursor2{
	opacity: 0;
  }
   */