
footer{
    position: relative;
    width: 100%;
    background: #109308;
    min-height: 100px;
    padding: 20px 50px;
}


footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/wave1.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: .5;
    bottom: 10px;
    animation: animatewave_03 6s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.3;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: .6;
    bottom: 20px;
    animation: animatewave_04 2s linear infinite;
}

footer .wave#wave5{
    z-index: 1100;
    opacity: .4;
    bottom: 20px;
    animation: animatewave_05 5s linear infinite;
}

@keyframes animatewave
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}


@keyframes animatewave_02
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animatewave_03
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animatewave_04
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}


@keyframes animatewave_05
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 5px;
    /* Place the button 30px from the right */
    z-index: 1650;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 3px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  
}

#myBtn:hover {
    background-color: green;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
    /* Add a dark-grey background on hover */
}