
footer{
    position: relative;
    margin-top: 130px;    
}
/* contact start ---------------------------------------------------------------  */

footer #contactus{
    margin-bottom: -330px;
}
footer .contact {
    width: 80%;
    background: #109308;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px auto 0px;

}

.contact .left-side {
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15px;
}

.contact .left-side::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(154, 199, 162);
}

.contact .left-side .details {
    margin: 10px;
    text-align: center;
    padding: 5px 0px;
}

.contact .left-side .details i {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}

.contact .left-side .details .topic {
    font-size: 18px;
    font-weight: 600;
}

.contact .left-side .details .text-one{
    font-size: 14px;
    color: #effcf5;
}


.contact .right-side {
    width: 50%;
    margin: 10px 60px;
}

.contact .right-side .topic-text {
    font-size: 20px;
    font-weight: bold;
    color: #effcf5;
}

.contact .right-side .input-box {
    height: 30px;
    width: 100%;
    margin: 7px 0;
}

.contact .right-side .input-box input,
.contact .right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f8f3;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.contact .right-side .message-box {
    min-height: 60px;
}

.contact .right-side .input-box textarea {
    padding-top: 5px;
}

.contact .right-side .button {
    display: inline-block;
    margin-top: 5px;
}

.contact .right-side .button input[type="button"] {
    color: green;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 0px 20px;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .button input[type="button"]:hover {
    background: greenyellow;
}

.contact .manudown {
    width: 10%;
    height: 100%;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    padding: auto 40px;    
}

.manudown::after {
    content: '';
    position: absolute;
    height: 200px;
    width: 2px;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(154, 199, 162);
}

.manudown ul li {
    list-style-type: none;
    padding: 10px 0 10px 15px ;
    text-align: center;
}

.manudown ul li a {
    color: white;
    text-decoration: none;
    
    text-transform: capitalize;
}

.manudown ul li a:hover {
    color: greenyellow;
    transition: .4s;
    font-weight: bold;
}

/* wave start ---------------------------------------------------------------  */

footer .wavebackgroud{
    background-color: #109308;
    width: 100%;
    z-index: -15;
    height: 350px;
    position: relative;
}

footer .wave{
    position: absolute;
    width: 100%;
    background: url(/img/wave1.png);
    background-size: 1000px 100px;
    height: 440px;
}

footer .wave#wave1{
    z-index: 2;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 1;
    opacity: .5;
    bottom: 10px;
    animation: animatewave_03 6s linear infinite;
}

footer .wave#wave3{
    z-index: 3;
    opacity: 0.3;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 2;
    opacity: .6;
    bottom: 20px;
    animation: animatewave_04 2s linear infinite;
}

footer .wave#wave5{
    z-index: 3;
    opacity: .4;
    bottom: 20px;
    animation: animatewave_05 5s linear infinite;
}

@keyframes animatewave
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}


@keyframes animatewave_02
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animatewave_03
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animatewave_04
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}


@keyframes animatewave_05
{
    0%
    {
        background-position-x: 1000px;
    }

    100%
    {
        background-position-x: 0px;
    }
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 5px;
    /* Place the button 30px from the right */
    z-index: 10;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 3px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  
}

#myBtn:hover {
    background-color: green;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
    /* Add a dark-grey background on hover */
}

.copy_right h5{
    text-align: center;
    font-size: 14px;
    margin: 5px auto;
    color: black;
    
}